.buttonsection{
display: flex;
justify-content: center;
align-items: center;
}
.FormContainer{
  margin-left: 500px;
  margin-top: 120px;
display: flex;
justify-content: center;
align-items: center;
height: 450px;
width: 400px;
background-color: white;
border-radius: 10px;
}
.Text{
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
  
}
.FP{
  margin-left: 120px;
  
 
}
.button{
  border: none;
  color: red;
  background-color: white;
  
 
  font-size:0.8rem;
}
.btn{
  width: 283px;
}
body{
 background-color: rgb(233, 233, 238);
}
.cardcontainer {
  margin-left: 500px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}
.FormContainer1 {
  margin-left: 500px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color:  rgb(245, 245, 61);
  border-radius: 10px;
}
.maindiv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: cursive;
  color:  rgb(0, 0, 0);
}
.btn{
 margin:  10px;
 font-family: cursive;

}
.FormContainer {
  margin-left: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  background-color: rgb(245, 245, 61);
  border-radius: 10px;
}
  
.bodydiv1{
  /* background-image:url('./Images/picture-young-woman-pointing-up-with-fingers\ \(1\).png') */
} 

.bodydiv{
  background-image:url('./Images/picture-young-woman-standing-thinking.png')
}
.FormContainer2 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/Yellow.jpeg');
  margin-left: 510px;
 
}
.maindiv1{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: cursive;
  color:  rgb(0, 0, 0);
}
.FormContainer3 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/green.jpeg');
  margin-left: 510px;
 
}
.FormContainer4 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/blue.jpeg');
  margin-left: 510px;
 
}
.FormContainer5 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/saffron.jpeg');
  margin-left: 510px;
 
}
.FormContainer6 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/voilet.jpeg');
  margin-left: 510px;
 
}
.FormContainer7 {
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  
  background-image:url('./Images/light\ green.jpeg');
  margin-left: 510px;
 
}

